# Supabase Configuration
SUPABASE_URL=https://ikttglbvgmnqqzkfsuvcu.supabase.co
SUPABASE_KEY=your_anon_key_here
SUPABASE_SERVICE_KEY=your_service_role_key_here

# Django
SECRET_KEY=django-insecure-traveloop-hackathon-secret-key-change-in-production
DEBUG=True

# Database
DB_NAME=traveloop
DB_USER=postgres
DB_PASSWORD=dhivakar890
DB_HOST=localhost
DB_PORT=5432
